{% extends "base.html" %}

{% block content %}

            <div class="social-network">
                <div class="p-b-35">
                    <a href="/">MAPA-TEST</a>
                    <h3>Login</h3>
                </div>
            </div>

            <form class="login100-form"
                  action="." method="post">

                {% csrf_token %}

                {% if form.non_field_errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                    {% endfor %}
                  </div>
                {% endif %}

                {% if form.username.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.username.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="wrap-input100 m-b-10">
                    <input type="text" name="username" class="input100" autofocus placeholder="Email" required id="id_username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>

                {% if form.password.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.password1.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="wrap-input100 m-b-10">
                    <input type="password" name="password" class="input100" placeholder="Password" required id="id_password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-15">
                    <button class="login100-form-btn" type="submit">Login
                    </button>
                </div>

            </form>

            <div class="text-center w-full p-t-55">
                <span class="txt1">Not a member?</span>
                <a class="txt1 bo1 hov1" href="/registration">Sign up now</a>
            </div>

{% endblock %}

