{% extends "base.html" %}

{% block content %}

            <div class="social-network">
                <span class="login100-form-title p-b-25">Sign up with</span>

                <a href="{% url 'social:begin' 'facebook' %}" class="btn-face m-b-10">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Facebook
                </a>

                <div class="slash">/</div>

                <a href="{% url 'social:begin' 'google-oauth2' %}"
                   class="btn-google m-b-10">
                    <i class="fa fa-google-plus-circle" aria-hidden="true"></i>
                    Google
                </a>
            </div>

            <div class="or m-b-25">
                <hr>
                <div class="text-or">or</div>
            </div>

            <form class="register100-form"
                  action="{% url 'registration' %}" method="post"
                  enctype="multipart/form-data">

                {% csrf_token %}

                {% if form.non_field_errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                    {% endfor %}
                  </div>
                {% endif %}

                {% if form.first_name.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.first_name.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="wrap-input100 m-b-10">
                    <input type="text" class="input100" autofocus maxlength="150" name="first_name" placeholder="First Name" required id="id_first_name" value="{{form.first_name.value|default:""}}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-user"></span>
                    </span>
                </div>

                {% if form.last_name.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.last_name.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="wrap-input100 m-b-10">
                    <input class="input100" maxlength="150" name="last_name" type="text" placeholder="Last Name" id="id_last_name" value="{{form.last_name.value|default:""}}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-user"></span>
                    </span>
                </div>

                {% if form.email.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.email.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="wrap-input100 m-b-10">
                    <input class="input100" maxlength="254" name="email" type="text" placeholder="Email" id="id_email" value="{{form.email.value|default:""}}" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>

                {% if form.password1.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.password1.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="wrap-input100 m-b-10">
                    <input class="input100" name="password1" type="password" placeholder="Password" required id="id_password1">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                {% if form.password2.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.password2.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="wrap-input100 m-b-22">
                    <input class="input100" name="password2" type="password" placeholder="Confirm Password" required id="id_password2">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                {% if form.send_mode.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    {% for error in form.send_mode.errors %}
                      <p class="errornote">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="contact100-form-checkbox m-l-4">
                    <input name="send_mode" class="input-checkbox100" type="checkbox" id="ckb1" {% if form.send_mode.value %} checked {% endif %}">
                    <label class="label-checkbox100" for="ckb1">
                        I'd like to receive PlacePass news and offers
                    </label>
                </div>

                <div class="text-left w-full p-t-10">
                    <span class="txt1">By signing up, I agree to the PlacePass
                        <a class="txt1 bo1 hov1" href="#" onclick="alert('This this just test page');">Term of Service</a>
                        and <a class="txt1 bo1 hov1"
                               href="#" onclick="alert('This this just test page');">Privace Policy</a>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-15">
                    <button class="login100-form-btn" type="submit"
                            value="Registration">Register
                    </button>
                </div>
            </form>

            <div class="login p-t-10">
                <span class="log p-b-20 p-t-20">Already have an account?</span>
                <a href="{% url 'login' %}" class="btn-login">Log in</a>
            </div>

{% endblock %}