<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} &mdash; MAPA-TEST</title>
    <link rel="icon" type="image/png"
          href="/static/auth/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css"
          href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/static/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="/static/auth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/static/auth/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/auth/css/main.css">
</head>
<body>



<div class="main-container">
    <div class="container-login100">
        <div class="wrap-login100 p-l-40 p-r-40 p-t-40 p-b-30">

            {% block content %}{%endblock%}

            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'logout' %}">Выйти</a>
                </p>
            {% endif %}

        </div>
    </div>
</div>




</body>
</html>
